<div class="weather-forecast" *ngIf="forecastData">
  <div class="forecast-header">
  </div>
  <div class="forecast-display">
    <h3>24hours</h3>
    <div class="hour-cards-wrapper" id="hour-cards-wrapper">
      <ul class="hour-card" *ngFor="let forecast of forecastData.data">
        <li>
          <p class="hour">{{forecast.datetime | slice:-2}}</p>
          <img class="icon" [src]="getWeatherIconSrc(forecast.weather.description)">
          <p class="temperature">{{ forecast.temp | number: '1.0-0' }}°C</p>
          <!-- <ul>
            <li class="hour" *ngFor="let hour of hours | slice:0:1" [ngClass]="{'active': hour === activeHour}">{{ hour }}:00</li> 
          </ul> -->
        </li>
      </ul>
    </div>
    <button type="button" class="scroll-button left-button" (click)="scrollHourCards(-1)">&lt;</button>
    <button type="button" class="scroll-button right-button" (click)="scrollHourCards(1)">&gt;</button>
    <button type="button" class="scroll-button right-button" (click)="scrollHourCards(1)">&gt;</button> 
  </div>
  <div>
    <div class="forecast-header">
      <h3>7-day forecast</h3>
      <p>min/max °C</p>
    </div>
    <div class="forecast-display-7days">
      <ul>
        <li class="forecast-display-days" *ngFor="let forecast of forecastData7.data | slice:0:7">
          <div class="mere">
            <p class="day">{{ getDayOfWeek(forecast.datetime) }}</p>
            <div class="icon">
              <img class="icon" [src]="getWeatherIconSrc(forecast.weather.description)">
            </div>
          </div>
          <div class="temperature">{{ forecast.min_temp | number: '1.0-0' }} / {{ forecast.max_temp | number: '1.0-0' }}
            °C</div>
        </li>
      </ul>
    </div>
  </div>
</div>
