<div>
  <div class="container">
    <div class="upper-data">
      <app-weather class="weather-container"></app-weather>
    </div>
    <div class="lowe-data">
      <app-forecast class="forecast-table"></app-forecast>
    </div>
  </div>
</div>
<app-favorites></app-favorites>


<!-- <div class="container mx-auto flex flex-wrap p-3">
    <div class="w-full md:w-1/2 lg:w-1/3 p-3">
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 p-3">
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 p-3">
      </div>
</div> -->