/* Default values */
/* :root {
    --background-color: #f1f1f1;
    --text-color: #333;
  } */

/* Dark theme */
/* :root.dark-mode {
    --background-color: #333;
    --text-color: #f1f1f1;
  } */

/* Component-specific styles */
/* .search-container {
    background-color: var(--background-color);
    color: var(--text-color);
  } */

/* ...*/
:root {
  --blue-1: #0023f5;
  --blue-2: #001dcc;
  --yellow-1: #ccc511;
  --white: #fff;
  --grey-1: #c0c0c0;
  --shadow-dark: rgba(0, 0, 0, 0.3);
  --shadow-ligt: rgba(255, 255, 255, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100vh;
  color: white;
  background-color: var(--blue-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-container {
  width: 350px;
  height: 80vh auto;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: var(--blue-2);
  border-radius: 20px;
  box-shadow: 10px 10px 10px var(--shadow-dark);
}

.upper-data {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 40%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.upper-data img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lower-data {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 60%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
}

.search {
  margin-bottom: 1em;
  text-align: center;
  position: relative;
}

.search input {
  background-color: var(--shadow-ligt);
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 1em;
  color: var(--white);
  text-align: center;
}

.search input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.search input[data-autocompleted] {
    background-color: transparent !important;
}

.more-info-container {
  flex: 1;
  background-color: var(--blue-2);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  // margin-top: 0.5em;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  height: 100%;
}

.more-info-label {
  color: var(--shadow-ligt);
}

.info-block {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.info-block-label {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-block-label img {
  width: 1.5em;
}

.info-block-label span {
   font-size: 0.8em;
}

.info-block-value {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--white);
}


